fastapi[standard]~=0.115.0
sqlmodel~=0.0.22
pydantic~=2.11.0
uvicorn~=0.34.0
psycopg2-binary~=2.9.0
python-dotenv~=1.1.0
PyJWT~=2.9.0
bcrypt~=4.3.0
slowapi~=0.1.0
cloudinary~=1.41.0
mercadopago~=2.2.0
